
<?php
    foreach ($puurid as $key => $puur):
?>
<div class="clear">
    <div class="puur">        
        <h5>Puur <?= $key ?></h5>

<?php
    foreach($puur as $loom){
        if(isset($_SESSION['user']) && isset($_SESSION['role']) && $_SESSION['role'] == 'admin'){
            echo "<a href=\"?page=muuda&id={$loom['id']}\">";
        }
        echo "<img src=\"{$loom['liik']}\" alt=\"{$loom['nimi']}\" />";

        if(isset($_SESSION['user']) && isset($_SESSION['role']) && $_SESSION['role'] == 'admin'){
            echo "</a>";
        }

    }
?>

    </div>
</div>    

<?php
    // end of first foreach
    endforeach;
?>